<div>{{input type="text" value=name placeholder="Enter your name"}}</div>

{{#view BalancedKit.Views.Details.BaseView title="Detail View"}}
  {{#if name}}
    <p>Hello, my name is: <strong>{{name}}</strong></p>
  {{else}}
    <p>We don't know your name yet.</p>
  {{/if}}
{{/view}}
