<div>
  <label>Name:</label>
  {{input type="text" value=name placeholder="Enter your name"}}
</div>

{{#view BalancedKit.Views.Details.BaseView title="Detail View"}}
  <p>My name is {{name}} and I want to learn Ember!</p>
{{/view}}
