<form {{action "append" name on="submit"}}>
  <label>Name:</label>
  {{input type="text" value=name placeholder="Enter your name"}}
</form>

{{view BalancedKit.Views.Details.ListDetailsView title="Animals" content=content}}
