<h4>List of wrestlers</h4>

<form {{action "createCustomer" name email on="submit"}}>
  {{input value=name placeholder="Name"}}<br>
  <button type="submit">Submit</button>
</form>

{{view tableView content=wrestlers classNames="table-bordered"}}
