<h3>Contacts</h3>
<form {{action "createContact" name email on="submit"}} class="form-inline">
  {{input value=name placeholder="Name" classNames="form-control"}}
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<hr>
{{view tableView content=contacts classNames="table-bordered"}}
